.wrapper {
  display: flex;
  align-items: center;
}

.search {
  width: 500px;
  height: 44px;
  border-radius: 8px 0 0 8px;
  border: none;
  padding: 0 12px;
  outline: none;
}

.icon {
  height: 44px;
  width: 50px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}
